/* Global styles */
:root {
    --primary-color: rgb(0, 123, 255);
    --secondary-color: #FF6600;
    --background-color: #f5f5f7;
    --font-color: #333;
    --font-family: 'Roboto', sans-serif;
    --highlight-color: #ffffcc;
    --button-hover-shift: -1.25px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    min-height: 100vh;
    overflow-x: hidden;
    padding-bottom: 35px;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center; /* Centers the text horizontally */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-content {
    display: flex;
    justify-content: center; /* Ensure content is centered horizontally */
    align-items: center;
    width: 100%;
}


.logo {
    height: 75px;
    margin: 0 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.candidate {
    background-color: var(--highlight-color);
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    width: 30%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.candidate img {
    width: 75%;
    height: auto;
    border-radius: 8px;
}

.candidate h2 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: var(--font-color);
}

.vote-info span {
    font-size: 32px;
    font-weight: bold;
    transition: transform 0.2s ease;
    color: var(--primary-color);
}

.buttons {
    margin-top: 15px;
}

button {
    padding: 10px 25px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:first-child {
    background-color: rgba(0, 100, 38, 1);
}

button:first-child:hover {
    background-color: rgba(0, 77, 30, 1);
    transform: translateY(var(--button-hover-shift));
}

button:nth-child(2) {
    background-color: #dc3545;
}

button:nth-child(2):hover {
    background-color: #c82333;
    transform: translateY(var(--button-hover-shift));
}

button:active {
    transform: translateY(0);
}

.result-table {
    background-color: var(--highlight-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 25%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.result-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    border: 2px solid black;
}

.result-table th,
.result-table td {
    padding: 10px;
    font-size: 16px;
    color: var(--font-color);
}

.total {
    font-weight: bold;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 10px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .candidate {
        width: 80%;
        margin-bottom: 20px;
    }

    .result-table {
        width: 80%;
    }
}
